<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://zjyphbunfcxeeg:8f58588f35c6c1a10b19ce35b9fd8e3f2d73c87fb74f7dcc22369cd823fd0916@ec2-54-225-203-79.compute-1.amazonaws.com:5432/dard1gbifhklsp</property>
        <property name="hibernate.connection.username">zjyphbunfcxeeg</property>
        <property name="hibernate.connection.password">8f58588f35c6c1a10b19ce35b9fd8e3f2d73c87fb74f7dcc22369cd823fd0916</property>
        <!--        <property name="hibernate.show_sql">true</property>-->
        <!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <mapping class="com.enigma.betestmmi.entity.Position"/>
        <mapping class="com.enigma.betestmmi.entity.Employee"/>

    </session-factory>
</hibernate-configuration>